<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .lead {
            padding: 10px 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>

<body>
    <a href="{% url 'website:lead-list' %}"> Return to leads</a>
    <hr/>
    <h1> This is the details of {{ lead.first_name }} </h1>
    <p> These persons age: {{ lead.age  }}</p>
    <p> The agent responsible for this lead is: {{ lead.agent }}</p>
    <hr />
    <a href="{% url 'website:lead-update' lead.pk %}">Update</a>
    <a href="{% url 'website:lead-delete' lead.pk %}">Delete</a>

</body>
</html>